
body{
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  position: relative;
  //min-height:1700px;
  background-color: #472ecb;
  color:white;
  overflow: hidden;
}


//Sections
section{
  position: absolute;
  width: 100%;
  height:100vh;
}


//Loader
.site-loader {
  width: 100%;
  height: 100vh;
  background: #4b2bcc;
  z-index: 99999;
  position: absolute;
  left:0px;
  top:0px;
  #maze {
    fill: #fff;
    position: absolute;
    height: 87px;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 0.25s infinite linear;
  }
  .loader {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loader .center {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 9px;
    background: #fff;
    border-radius: 50%;
    animation: center 3.2s ease-in-out infinite;

  }
  .loader .item {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border-radius: 50%;
  }

  .item-1 {
    animation: anim-1 3.2s ease-in-out infinite 0.2s;
    animation-fill-mode: backwards;
  }
  .item-2 {
    animation: anim-2 3.2s ease-in-out infinite 0.4s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-2 {
    0%, 60%, 100% {
      transform: rotate(90deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(90deg) translateX(0) scale(1.5);
    }
  }
  .item-3 {
    animation: anim-3 3.2s ease-in-out infinite 0.6s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-3 {
    0%, 60%, 100% {
      transform: rotate(135deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(135deg) translateX(0) scale(1.5);
    }
  }
  .item-4 {
    animation: anim-4 3.2s ease-in-out infinite 0.8s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-4 {
    0%, 60%, 100% {
      transform: rotate(180deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(180deg) translateX(0) scale(1.5);
    }
  }
  .item-5 {
    animation: anim-5 3.2s ease-in-out infinite 1s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-5 {
    0%, 60%, 100% {
      transform: rotate(225deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(225deg) translateX(0) scale(1.5);
    }
  }
  .item-6 {
    animation: anim-6 3.2s ease-in-out infinite 1.2s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-6 {
    0%, 60%, 100% {
      transform: rotate(270deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(270deg) translateX(0) scale(1.5);
    }
  }
  .item-7 {
    animation: anim-7 3.2s ease-in-out infinite 1.4s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-7 {
    0%, 60%, 100% {
      transform: rotate(315deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(315deg) translateX(0) scale(1.5);
    }
  }
  .item-8 {
    animation: anim-8 3.2s ease-in-out infinite 1.6s;
    animation-fill-mode: backwards;
  }

  @keyframes anim-8 {
    0%, 60%, 100% {
      transform: rotate(360deg) translateX(40px) scale(1);
    }
    10%, 50% {
      transform: rotate(360deg) translateX(0) scale(1.5);
    }
  }
  @keyframes center {
    0%, 10%, 90%, 100% {
      transform: scale(0.7);
    }
    45%, 55% {
      transform: scale(1);
    }
  }
}


// Canvas
#background-canvas,
#markets,
#beam,
#sphere
 {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}


//Modals

.join-us-modal{
  .modal-dialog{
    .content-block{
        h1{
          margin-bottom:30px;
        }
        .form-control{
          height:55px;
          line-height: 55px;
        }
        button{
          border-color:#fff;
          border-width:2px;
          background-color: transparent;
          padding:12px 30px;
          &:hover{
            background-color: #fff;
            color:$text-color;
          }

        }
    }
  }
}

.modal-fullscreen {
  background-color: rgba(68, 49, 204, 0.7);
  color:#fff;
  .close {
    color: white;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 5vh;
  }

  .modal-dialog {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    display: flex;
    height: 100%;
    align-items: center;
    .main-menu {
      text-align: center;
      margin: 0 auto;

      li{
        a {
          font-weight: 500;
          letter-spacing: 0.05em;
          border: none;
          transition: all 0.25s ease;
          color: white;
          height: 5vh;
          font-size: 5vh;
          text-transform: uppercase;
          text-decoration: none;


          &:hover {
            text-decoration: line-through;
            font-size: 6vh;

          }
        }
      }

    }

    button{

      top: 40px;
      right: 20px;
      svg{
        width:50px;
        height:50px;
        fill:white;
        transition:all 0.5s ease;
      }

      &:hover{
        svg {
          transform: rotateZ(180deg);
        }
      }
    }
  }

  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }



}

.modal-backdrop {
  &.in {
    opacity: 0.8;
  }
}


.orientation-modal{
  background-color: rgba(68, 49, 204, 1) !important;
}

